*, 
*:after, 
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: cormorant;
    src: url(/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: jost;
    src: url(/fonts/Jost/static/Jost-Regular.ttf);
}

@font-face {
    font-family: lusitana;
    src: url(/fonts/Lusitana/Lusitana-Regular.ttf);
}

.header__navigation, .hero__info_desc, .hero__info_button {
    font-family: jost;
}

.cart_counter-number, .hero__motivator {
    font-family: lusitana;
}

.hero__info_message, .hero__info_slogan {
    font-family: cormorant;
}



html {
    scroll-behavior: smooth;
    font-family: Arial;
    color: #efefef;
}

body {
    width: 100%;
    position: relative;
    font-family: Arial;
    background: var(--Background, #F9EFE0);

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.6vmin;
    z-index: 5;
}

.header__container {
    display: flex;
    flex-direction: row;
    margin: 0 6.4vmin 0 6.4vmin;
}

.header__logo {
    height: 12.8vmin;
    width: 12.8vmin;
    background: white;
}

.header__image {
    height: 100%;
    width: 100%;
    background: center url(../img/logo.png), #CF8C0B36;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-size: 9.4vmin 8.2vmin;

}

.header__buttons {
    height: 7.6vmin;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vmin 0 3.2vmin;
    margin-left: 4.8vmin;
}

.header__navigation {
    width: 45.6vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 2vmin;
}

.header__cart {
    height: 4.4vmin;
    width: 4.4vmin;
    padding: 10px;
    outline: 0.3vmin dashed white;
    background: #FFFFFF;
}

.cart__SVG {
    height: 2vmin;
    width: 2vmin;
}

.cart__counter {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.4vmin;
    right: 7.2vmin;
    height: 2.4vmin;
    width: 2.4vmin;
    background: var(--Text, #231F20);
    border-radius: 100%;
}

.cart__counter-number {
    font-size: 1.6vmin;
    font-weight: 700;
    letter-spacing: -0.035em;
    text-align: center;
}



#hero {
    width: 100%;
    background-image: url("../img/bg.png");
    background-blend-mode: overlay;
    background: linear-gradient(107.15deg, #F9EFE0 0%, #DED3C1 100%);

}

.hero__container {
    width: 100%;
    height: 100vmin;
    background: linear-gradient(107.15deg, rgba(255, 255, 255, 0.2) 0%, rgba(236, 236, 236, 0.2) 100%);
}

.hero__buns {
    width: 100%;
    height: 100vmin;
    position: relative;
    overflow: hidden;
}

.buns_pic {
    position: absolute;
}

.bun_original {
    z-index: 3;
}

.bun_alt {
    z-index: 2;
}



.bun1.bun_original {
    width: 47.9vmin;
    top: 0;
    left: 0;
}

.bun1.bun_alt {
    width: 47.9vmin;
    top: 3%;
    left: 3%;
}


.bun2.bun_original {
    width: 47.9vmin;
    top: 0;
    right: 32%;
}

.bun2.bun_alt {
    width: 47.9vmin;
    top: 0;
    right: 29%;
}


.bun3.bun_original {
    width: 59.19vmin;
    right: -1%;
    top: 1%;
}

.bun3.bun_alt {
    width: 59.19vmin;
    right: -2%;
    top: 2%;
}


.bun4.bun_original {
    width: 54.068vmin;
    bottom: 0;
    left: 0;
}

.bun4.bun_alt {
    width: 54.068vmin;
    bottom: 0%;
    left: 3%;
}


.bun5.bun_original {
    width: 60vmin;
    bottom: 0;
    right: 0;
}

.bun5.bun_alt {
    width: 60vmin;
    bottom: -1%;
    right: -1%;
}


.hero__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37%;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 16px;
}

.hero__info_message {
    color: #CF8C0B;
    font-size: 2vmin;
    font-weight: 600;
    text-align: center;
}

.hero__info_slogan h1 {
    font-size: 9.6vmin !important; 
    font-weight: 500 !important;
    line-height: 96px !important;
    letter-spacing: -0.035em !important;
    text-align: center;
    color: #231F20;
}

.hero__info_desc {
    font-size: 2vmin;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #231F20;
}

.hero__info_button {
    width:  19.6vmin;
    height: 6vmin;
    padding: 1.6vmin 3.2vmin 1.6vmin 3.2vmin;
    background-color: #CF8C0B1A;
    border: 1px solid #CF8C0B;

    font-size: 2vmin;
    font-weight: 500;
    line-height: 2.8vmin;
    text-align: left;
    color: #231F20;
    box-shadow: 2px 2px 0px 0px #F9EFE0;

}

.button__arrow {
    position: relative;
    right: -1.2vmin;
}

.hero__motivator {
    position: absolute;
    width:  15.3vmin;
    height:  4.8vmin;
    right: -3%;
    top: 23%;
    padding: 16px;
    outline: 2px dashed #CF8C0B1A ;
    background: #CF8C0B1A;
    transform: rotate(-90deg);
    font-size: 1.6vmin;
    font-weight: 700;
    line-height: 1.6vmin;
    letter-spacing: 0.1em;
    text-align: center;
    color: #CF8C0B;
}



#about {
    background: #FFFCF8;
    border-bottom: 4px solid var(--Decoration, #CF8C0B1A)
}

.about__container {
    width: 100%;
    height: 100vmin;
    background: #FFFCF8;

}